# Top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.{csproj,props,build}]
indent_size = 2

[*.{cs,vb}]
# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true

[*.cs]
# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = none
