<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.5.0" targetFramework="net461" />
  <package id="Fare" version="2.1.1" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net461" />
  <package id="Shouldly" version="3.0.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.5.1" targetFramework="net472" />
</packages>